<p style="color: green"><%= notice %></p>

<%= @employee.first_name %>
<%= @employee.last_name %>
<%= @employee.phone %>
<%= @employee.email %>
<%= @employee.linkedin %>


<div>
  <%= link_to "Edit this employee", edit_employee_path(@employee) %> |
  <%= link_to "Back to employees", employees_path %>

  <%= button_to "Destroy this employee", @employee, method: :delete %>
</div>
